* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    background-color: #333;
    font-size: 36px;
    color: #fff;
  }
  
  button {
    font-family: 'Nunito', sans-serif;
    width: 120px;
    position: absolute;
    top: 50px;
    transform: translateX(-50%);
    padding: 10px 30px;
    background: none;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .btn-zoom {
  position: absolute;
  left: 25%;
  }
  
  .btn-move {
    position: absolute;
    left: 50%;
  }
  
  .btn-color {
    position: absolute;
    left: 75%;
  }
  
  .btn-zoom:hover {
    background-color: white;
    color: black;
    transition: .5s;
  }
  
  .btn-move:hover {
    background-color: white;
    color: black;
    transition: .5s;
  }
  
  .btn-color:hover {
    background-color: white;
    color: black;
    transition: .5s;
  }
  
  div {
    position: absolute;
    top: 150px;
    height: 100px;
    width: 100px;
    border-radius: 25px;
    transform: translateX(-50%);
    transition: transform .5s;
  }
  
  
  .square-blue {
    background-color: rgb(0, 81, 255);
    position: absolute;
    left: 25%;
    box-shadow: 0 0 25px rgb(0, 81, 255);
    border: 2px solid blue
  }
  
  .square-red {
    background-color: rgb(247, 97, 97);
    position: absolute;
    left: 50%;
    box-shadow: 0 0 25px rgb(247, 97, 97);
    border: 2px solid red;
  }
  
  .square-green {
    background-color: rgb(101, 195, 101);
    position: absolute;
    left: 75%;
    box-shadow: 0 0 25px rgb(101, 195, 101);
    border: 2px solid green;
  }
  
  .btn-zoom:hover ~ div { 
    transform: scale(2);
  }
  
  .btn-move:hover ~ div {
    transform: translateX(100px);
    }
  
  .btn-color:hover ~ div {
   background-color: black;
   border: 2px solid #fff;
   box-shadow: 0 0 25px white;
   transition: .5s;
  }